.card{
    background-color: red; color: white;
    width: 3in;
    display: inline-block;
    margin: 8px;
}
.header{
    text-align: center;
    font-size:18px;
    font-style: bold;
}

.body{
    background-color:wheat; color:black
}